<div class="card" style="width: 18rem;" *ngFor="let prod of   products">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{prod.title}}</h5>
    <p class="card-text">{{prod.author}}</p>
    <p class="card-text">{{prod.id}}</p>
    <a href="#" class="btn btn-danger" (click)="deleteProduct(prod.id)">delete me</a>
    <a href="#" class="btn btn-secondary" (click)=" updateProduct(prod.id)">edit</a>
  </div>
</div>

<button (click)="createProduct()" class="btn btn-primary">add new</button>